@{
    ViewBag.Title = "عدم دسترسی";
}

<h1 style="color:red;margin-top:3%;margin-left:38%;">عدم اجازه دسترسی به صفحه مورد نظر</h1>

<img src="~/img/AccessDenied.jpg" asp-append-version="true" width="100%" height="100%" />

